html,
body {
  font-family: sans-serif;
  color: #dcdde1;
  background-color: rgb(60 60 60);
  font-size: 0.8rem;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: hidden;
}

#dataset-importer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  align-items: baseline;
  padding: 5px 10px;
  border-style: hidden;
  background-color: #262626;
}

#visualizations-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 1;
  gap: 5px;
}

#left-side-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
  width: 50%;
}

#right-side-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
  width: 50%;
}

#map-container {
  position: relative;
  flex-grow: 9;
}

#timestamp-player-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  background-color: #262626;
  align-items: center;
  padding: 5px 10px;
}

#import-btn {
  flex-grow: 1;
}

#csv-dataset-importer {
  flex-grow: 1;
}

#timestamp-player-range-input {
  flex-grow: 1;
}

.left-side-charts-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-grow: 1;
}

.left-side-charts-container > div {
  width: 50%;
  background-color: #262626;
}

#calendar-container {
  flex-grow: 6;
  width: 100%;
  background-color: #262626;
}

#line-chart-container {
  flex-grow: 1;
  width: 100%;
  background-color: #262626;
}

text {
  fill: #dcdde1;
}

.day-selection {
  stroke: chartreuse;
  stroke-width: 3px;
}

.hoverable:hover {
  stroke: #f5f6fa;
  stroke-width: 2px;
}

button {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

button:hover {
  background-color: #0c76cc;
  border-color: #0c76cc;
  color: #d5d9d9;
}

button:focus {
  border-color: #0c76cc;
}

#brush-toggle {
  font-size: 0.85em;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
}

.brush-enabled {
  background-color: rgb(38, 38, 38);
  color: #dcdde1;
}

.brush-disabled {
  background-color: rgb(38, 38, 38);
  color: #dcdde1;
}
